@import url(https://fonts.bunny.net/css?family=norican:400);

:root {
  --color-bg: #fbfae3;
  --color-text: #241f31;
  --color-link: #a51d2d;
  --color-bg-secondary: #fff8dc;
  --border: 2px solid #aa8c2c;
  --font-family-body:
    Inter, Roboto, "Helvetica Neue", "Arial Nova", "Nimbus Sans", Arial,
    sans-serif;
  --font-family-heading: "Fredoka One", var(--font-family-body);
  --line-height: 1.5;
  --link-decoration: underline;
  --link-decoration-hover: underline;
  --link-decoration-style: dotted;
  --header-text-color: #ffffff;
  --form-button-text-color: #241f31;
  --form-button-border: 2px solid #241f31;
  --form-button-hover-text-color: #aa8c2c;
  --form-button-hover-border: 2px solid #aa8c2c;
}

/* body_classes: header-centered-dark */

.header-centered-dark header h1 {
  color: white;
}

h1,
h2,
h3,
h4,
h4,
nav {
  font-weight: 400;
}
